
/* Hover-Transition Start */

.hover{
    background-color: aqua;
    width: 200px;
    height: 100px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    border: none;
    
}
.hover:hover{
    cursor: pointer;
    width: 100%;
    background-color: blue;
}
.tap{
    background-color: green;
    width: 100px;
    height: 100px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    border: none;
}
.tap:active{
    cursor: pointer;
    width: 100%;
}

/* Hover-Transition End */


/* List Start */

.list{
    width: 300px;
    height: 400px;
    background-color: aqua;
}
.text{
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-top: 1px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: all;
    transition-duration: 1s;
}
.text:hover{
    height: 100px;
    background-color: orangered;
}
.text:active{
    font-size: 40px;
    cursor: pointer;
}
/* List End */


/* Box-ball Start */

.box{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.ball{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 50%;
    transition-property: top, left, border-radius, background-color ;
    transition-duration: 2s, 1s, 1s, 1s;
    transition-delay: 0s, 0s, 1s, 1s;

}
.ball-1{
    background-color: blue;
    z-index: 100;
}
.ball-2{
    background-color: red;
    z-index: 90;
}
.ball-3{
    background-color: green;
    z-index: 80;
}
.box:hover .ball-1{
    top: 0;
    left: 0;
}
.box:hover .ball-2{
    top: 0;
    left: 420px;
    border-radius: 0;
    background-color: orange;
}
.box:hover .ball-3{
    top: 400;
    left: 0;
}

/* Box-ball End */