
/* Hover-Transition Start */

.hover{
    background-color: aqua;
    width: 200px;
    height: 100px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    border: none;
    
}
.hover:hover{
    cursor: pointer;
    width: 100%;
    background-color: blue;
}

.tap-input{
    background-color: green;
    width: 100px;
    height: 100px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    border: none;
    text-align: center;
}

.tap-input:focus{
    width: 100%;
    cursor: pointer;
    outline: none;


}



/* Hover-Transition End */


/* List Start */

.list{
    width: 300px;
    height: 400px;
    background-color: aqua;
}
.text{
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-top: 1px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: width, height, font-size;
    transition-duration: 1s, 1s, 1s;
    transition-delay: 0s, 0s, 0s;
}
.text:hover{
    height: 100px;
    background-color: orangered;
    font-size: 40px;
    cursor: pointer;
}

/* List End */


/* Box-ball Start */

.box{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.ball{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 50%;
    transition-property: top, left, border-radius, background-color ;
    transition-duration: 2s, 1s, 1s, 1s;
    transition-delay: 0s, 0s, 1s, 1s;

}
.ball-1{
    background-color: blue;
    z-index: 100;
}
.ball-2{
    background-color: red;
    z-index: 90;
}
.ball-3{
    background-color: green;
    z-index: 80;
}
.box:hover .ball-1{
    top: 0;
    left: 0;
}
.box:hover .ball-2{
    top: 0;
    left: 420px;
    border-radius: 0;
    background-color: orange;
}
.box:hover .ball-3{
    top: 400;
    left: 0;
}

/* Box-ball End */



/* Check-box Start */

#checkbox{
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: rgb(0, 255, 0);
    appearance: none;
}

#checkbox:before{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    content: '';
    background-color: black;
    transition: 1s;
    transition-property: all;
}


#checkbox:checked{
    background-color: black;
}
#checkbox:checked::before{
    left: 40px;
    
    background: rgb(0, 255, 0);
}

/* Check-box End */


/* Sidebar Start */

 .sidebar{
    position: relative;
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: black;
    transition-property: width;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear;
} 

.sidebar:hover{
    width: 400px;
}
.icon{
    color: white;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
}
#bar{
    margin-top: 35px;
}
.bar{
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: teal;
    color: teal;
    line-height: 60px;
    margin-top: 25px;
    font-size: 30px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.sidebar:hover .bar{
    width: 400px;
    color: white;
    font-size: 30px;
    transition-property: font-size, width, color;
    transition-duration: 0.2s, 0.5s, 0s;
}
.sidebar:hover .bar:hover{

    background-color: white;
    color: black;
    font-size: 50px;
    

}

/* Shy Badge Start */


.shy-box{
    background-color: grey;
    width: 250px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 900;
    
}
.dot{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: -15px;
    transition-property: right, top, visibility, opacity;
    transition-duration: 1s, 1s, 0.5s, 1s;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-timing-function: ease-in-out;
    z-index: 1000;
}

.shy-box:hover{
    background-color: red;
    z-index: 1000;
}

.shy-box:hover .dot{
    right: 70px;
    top: 5px;
    z-index: 900;
    visibility: hidden;
    opacity: 0;
}

/* Shy Badge End */


/* Float-box Start */

.float-box{

    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    box-shadow:10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-box{
    position: absolute;
    width: 160px;
    height: 160px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box{
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wbox1{
    width: calc(100%/4);
    height: calc(100%/4);
    background-color: black;
    margin-top: 112px;

}

