body{
    background-color: teal;
}

h1{
    display: none;
}


/* Mobile-Display */

@media screen and (max-width: 480px) {

    body{
        background-color:red ;
    }
    .mobile{
        display: block;
    }
 
}


/* IPad and Tablet */

@media screen and (max-width: 768px) and (min-width: 481px){

    body{
        background-color:blue ;
    }
    .ipad{
        display: block;
    }
 
}

/* Laptop */

@media screen and (max-width: 1024px) and (min-width: 769px){

    body{
        background-color:salmon ;
    }
    .laptop{
        display: block;
    }
 
}

/* Desktop */

@media screen and (max-width: 1200px) and (min-width: 1025px){

    body{
        background-color:aqua ;
    }
    .desktop{
        display: block;
    }
 
}
